
{{!-- {{> banner}} --}}

  <!--================Cart Area =================-->
 {{#with cart}}
  <section class="cart_area">
      <div class="container">
          <div class="cart_inner" id="cart-body">
              {{#if items.length}}
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th scope="col">Book</th>
                              
                              <th scope="col">Quantity</th>
                              
                          </tr>
                      </thead>
                      <tbody>
                          {{#each items}}
                          <tr id="item{{item.id}}">
                              <td>
                                  <div class="media">
                                      <div class="d-flex">
                                          <img src="{{item.thumbnailPath}}" alt="" height="85" width="55">
                                      </div>
                                      <div class="media-body">
                                          <h4>{{item.name}}</h4>
                                      </div>
                                  </div>
                              </td>
                             
                              <td>
                                  <div class="product_count">
                                      <input type="text" name="qty" id="sst{{item.id}}" maxlength="12" value="{{quantity}}" title="Quantity:"
                                          class="input-text qty" readonly>
                                      <button onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst )) result.value++; updateCart({{item.id}}, result.value); return false;"
                                          class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                      <button onclick="var result = document.getElementById('sst{{item.id}}'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 1 || (sst == 1) && confirm('Do you want to remove this item?') ) result.value--; updateCart({{item.id}}, result.value); return false;"
                                          class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                  </div>
                              </td>
                              
                          </tr>
                          {{/each}}
                          <tr class="bottom_button">
                              <td>
                                  <a class="button bg-danger text-white" href="#" onclick="clearCart()">Clear List</a>
                              </td>
                              
                          </tr>
                          
                          <tr class="shipping_area">
                              <td class="d-none d-md-block">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <h5></h5>
                              </td>
                              <td>
                                  <div class="shipping_box">
                                      <input type="text" placeholder="Name">
                                      <input type="text" placeholder="Phone number">
                                      
                                      <select class="shipping_select" id="fee" onchange="styleselect()">
                                          <option value="1">District 1</option>
                                          <option value="2">District 2</option>
                                          <option value="3">District 3</option>
                                          <option value="4">Thu Duc district</option>
                                          <option value="9">District 9</option>
                                          <option value="7">District 7</option>
                                      </select>
                                     
                                      <input type="text" placeholder="Address (eg. 12 Dong Khoi Street)">
                                      <p id="shipping">Shipping Fee</p>
                                      {{!-- <input type="text" placeholder="Banking Account">
                                      <input type="password" placeholder="OTP Code"> --}}
                                      {{!-- <a class="gray_btn" href="/cart">Update Details</a> --}}
                                  </div>
                              </td>
                          </tr>
                          <tr class="out_button_area">
                              <td class="d-none-l">

                              </td>
                              <td class="">

                              </td>
                              <td>

                              </td>
                              <td>
                                  <div class="checkout_btn_inner d-flex align-items-center">
                                      <a class="gray_btn" href="/book">Continue Searching Book</a>
                                      <a class="primary-btn ml-2" href="/confirmation" onclick="clearCart()">Borrow</a>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                  </table>
                  {{else}}
                  <div class="alert alert-info text-center"> Your bag is empty!</div>
                  {{/if}}
              </div>
          </div>
      </div>
  </section>
  {{/with}}
  <!--================End Cart Area =================-->
<script>
    function styleselect(){
        var value = $('#fee').val();
        var div = $("#shipping");
        if (value == "9") {
             div.html('<b>Shipping fee: 10 000 VNĐ</b>');
        }
        if (value == "7") {
             div.html('<b>Shipping fee: 50 000 VNĐ</b>');
        }
        if (value == "4") {
             div.html('<b>Shipping fee: 10 000 VNĐ</b>');
        }
        if (value == "3") {
             div.html('<b>Shipping fee: 10 000 VNĐ</b>');
        }
         if (value == "2") {
            div.html('<b>Shipping fee: 20 000 VNĐ</b>');
        }
        if (value == "1") {
         div.html('<b>Shipping fee: 30 000 VNĐ</b>');
        }
    }
</script>